version: 2
updates:

  # silta-backup
  - package-ecosystem: "docker"
    directory: "/silta-backup/backup"
    schedule:
      interval: "daily"

  # silta-cicd
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.0-node16-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.1-node16-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.1-node18-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.2-node16-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.2-node18-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.2-node20-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.2-node22-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.3-node18-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.3-node20-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-cicd/circleci-php8.3-node22-composer2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "cimg/php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"

  # silta-mailhog
  - package-ecosystem: "docker"
    directory: "/silta-mailhog/silent"
    schedule:
      interval: "daily"

  # silta-nginx
  - package-ecosystem: "docker"
    directory: "/silta-nginx/1.17"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nginx"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-nginx/1.19"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nginx"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-nginx/1.21"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nginx"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-nginx/1.23"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nginx"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-nginx/1.24"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nginx"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-nginx/1.26"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nginx"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-nginx/1.28"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nginx"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"

  # silta-node
  - package-ecosystem: "docker"
    directory: "/silta-node/12-alpine"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "node"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/silta-node/14-alpine"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "node"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/silta-node/16-alpine"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "node"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/silta-node/18-alpine"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "node"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/silta-node/20-alpine"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "node"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/silta-node/22-alpine"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "node"
        update-types: [ "version-update:semver-major" ]
  - package-ecosystem: "docker"
    directory: "/silta-node/24-alpine"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "node"
        update-types: [ "version-update:semver-major" ]

  # silta-php-fpm
  - package-ecosystem: "docker"
    directory: "/silta-php-fpm/7.2-fpm"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-fpm/7.3-fpm"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-fpm/7.4-fpm"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-fpm/8.0-fpm"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-fpm/8.1-fpm"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-fpm/8.2-fpm"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-fpm/8.3-fpm"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "php"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"

  # silta-php-shell
  - package-ecosystem: "docker"
    directory: "/silta-php-shell/php-7.2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "wunderio/silta-php-fpm"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-shell/php-7.3"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "wunderio/silta-php-fpm"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-shell/php-7.4"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "wunderio/silta-php-fpm"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-shell/php-8.0"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "wunderio/silta-php-fpm"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-shell/php-8.1"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "wunderio/silta-php-fpm"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-shell/php-8.2"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "wunderio/silta-php-fpm"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
  - package-ecosystem: "docker"
    directory: "/silta-php-shell/php-8.3"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "wunderio/silta-php-fpm"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"

  # silta-proxy
  - package-ecosystem: "docker"
    directory: "/silta-proxy/latest"
    schedule:
      interval: "daily"

  # silta-robot-framework
  - package-ecosystem: "docker"
    directory: "/silta-robot-framework/robot-6"
    schedule:
      interval: "daily"

  # silta-rsync
  - package-ecosystem: "docker"
    directory: "/silta-rsync/rsync"
    schedule:
      interval: "daily"

  # silta-solr
  - package-ecosystem: "docker"
    directory: "/silta-solr/8"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "geerlingguy/solr"
        update-types: ["version-update:semver-major"]

  # silta-splash
  - package-ecosystem: "docker"
    directory: "/silta-splash/latest"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "nginxinc/nginx-unprivileged"
        update-types: ["version-update:semver-major"]

  # silta-varnish
  - package-ecosystem: "docker"
    directory: "/silta-varnish/varnish6"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "varnish"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/silta-varnish/varnish7"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "varnish"
        update-types: ["version-update:semver-major"]

  # silta-mariadb
  - package-ecosystem: "docker"
    directory: "/silta-mariadb/10.3-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-mariadb/10.6-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-mariadb/11.4-bc"
    schedule:
      interval: "daily"

  # silta-memcached
  - package-ecosystem: "docker"
    directory: "/silta-memcached/1-bc"
    schedule:
      interval: "daily"

  # silta-mongodb
  - package-ecosystem: "docker"
    directory: "/silta-mongodb/6.0-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-mongodb/7.0-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-mongodb/8.0-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-mongodb/8.2-bc"
    schedule:
      interval: "daily"

  # silta-postgresql
  - package-ecosystem: "docker"
    directory: "/silta-postgresql/14-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-postgresql/16-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-postgresql/17-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-postgresql/18-bc"
    schedule:
      interval: "daily"

  # silta-rabbitmq
  - package-ecosystem: "docker"
    directory: "/silta-rabbitmq/3.8-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-rabbitmq/4.1-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-rabbitmq/4.2-bc"
    schedule:
      interval: "daily"

  # silta-redis
  - package-ecosystem: "docker"
    directory: "/silta-redis/6.2-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-redis/7.0-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-redis/7.2-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-redis/7.4-bc"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/silta-redis/8.4-bc"
    schedule:
      interval: "daily"
